<!DOCTYPE html>
<html>
<head>
	<title>MoviesWiz</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
	 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Grandstander:ital@1&display=swap" rel="stylesheet">
</head>
<body>
<div id="landing-header">
	<h1>
		MOVIES<span>WIZ</span>
	</h1>

	<a href="/movies/1" id="outLink" class="btn btn-success btn-lg getStart" role="button" aria-pressed="true">GET STARTED</a>
</div>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>